:root {
    --primary-color: rgba(255, 68, 0, 0.822);
}

@import url(
    https://fonts.google.com/specimen/Roboto?preview.size=16
);

html {
    font-family: 'Roboto';
    font-style: normal; 
}


body {
    margin: 0;
    padding: 0;
    /* background-color: black; */
    line-height: 1.8rem;
    height: 100vh;
    background-color: black;
    color: white;
}

h1 {
    font-size: 3.8rem;
}

h2{
    font-size: 3em ;
}

h3{
    font-size: 2.4em;
}
.header {
    display: flex;
    justify-content: space-between;
    background-color: black; 
}

.header-title{
    margin-top: .30em;
    margin-left: 9rem ;
    font-size: 3em;
    color: white;
    
}

.header-title a {
    text-decoration: none;
    color: white;
    border-right: 2px solid white;
    padding-right: 1rem;
}

.menu  {
    display: flex;
    list-style: none;
    gap: 5em;
    margin-right: 4em;
}

.menu a {
    font-size: 1.8rem;
    text-decoration: none;
    color: white;
    margin-right: .5em;
}

.menu a:hover {
    text-decoration: none;
    color: var(--primary-color);
    transition: color .5s;
}
 
.wrappercontainer {
    margin-top: 1em;
    background-color: black;

}

.wrappercontainer2 {
    display: flex;
    justify-content: center;

}

.wrappercontainer3 {
    display: flex;
    font-size: 1.2rem;
}


.herobanner {
    display: flex;
    justify-content:space-between ;
    align-items: center;
    gap:20rem;
}

.hero-header {
    margin: 6em;
    
}
.hero-title{
    letter-spacing: .2px;
    margin-bottom: 3.5rem;
    line-height: 1;
    font-size: 3em;
    
}

.btn  {
    font-size: 1.8rem;
    background-color: red;
    color: white;
    padding: 1.2rem 3.6rem;
    border-radius: .5em;
    text-decoration: none;
    display: inline-block;
}

.section-btn {
    font-size: 1.8rem;
    background-color: red;
    color: white;
    padding: 1.2rem 3.6rem;
    border-radius: .5em;
    text-decoration: none;
    display: inline-block;
    margin-right: 4em;
}

.btn-sec {
    padding-right: 70.4rem;
}



.btn:hover, 
.section-btn:hover {
    background-color: rgba(255, 0, 128, 0.363);
    transition: background .2s;
   
}
.ykz {
    padding-right: 2.9em;
    width: 90em;
    padding-bottom: 1em;
}

.ykz2 {
    padding-left: 2em;
    width: 50%;
    height: 90%;
}

.section-title {
    text-align: center   ;
}

.tatto-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}



.tatooo {
    margin-top: 20px;
    left: 20px;
    right: 20px;
    width: 350px;
    height: 390px;
 
}   


.tattoo_card  {
    padding-left: 2em;
    padding-right: 2em;
    border: 3px solid white;
    border-radius: 0 0 px 5px;
}

.galeria_container {
    padding-top: 8rem ;
}

.galeria-container{
    padding-top: 5rem;
}

/* --Usar essa tag para animar a galeria-- */
.animation img {
    transform: scale(1);
    transition: transform .1s ease-in;
   
}

.animation:hover img {
    transform: scale(1.10);
}
/* --Usar essa tag para animar a galeria-- */

.tattoo_card_content h3 {
 font-size: 2.2em;
 margin: 1em 0 1rem 0;
 text-align: center;
}

.tattoo_card_content a {
    color: white;
    text-decoration: none;
}

.tattoo_card_content a:hover {
    text-decoration: underline;
    color: blue;
}

.section-btn {
    margin: 7rem 0 0 70rem;
    display: inline-block;
    
}



.about-title {
    text-shadow: 1px 1px 3px black;
    margin-left: 1rem;
}
.about-text {
    margin-right: 8em;
    margin-left: 8em;
    font-size: 2em;
}

.wrappercontainer4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.wrappercontainer5 {
    text-align: center;
    background-color: red;
    font-size: 1.8rem;
}

/* usar esse codigo para futuras paginas  */
.container{
    max-width: 60em;
    width: 100%;
    margin: auto;
}

.name {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    font-size: 2.5em;
}

.main-title, .subtitles, .middle-title, .litte-title, .subtitle {
    text-align: center;
    text-transform: capitalize;
    line-height: 1em;
}

.main-title{
    font-size: 4.5em;
}
.main-text {
    font-size: 1.5rem;
}

.about-text {
    font-size: 1.25em;
}

.middle-title {
    font-size: 2.3em;
}

.litte-title {
    margin-top: .8em;
    font-size: .92em;
}
.img, .img2, .img3{
    display: block;
    margin: auto;
}

.img2 {
    width: 30.875rem;
    height: auto;
}

.img2 {
    width: 30.875rem;
    height: auto;
}

.img3  {
    margin-top: 8em;
    width: 50rem;
    height: 34rem;
}

.img4, .imagemlados {
    width: 450px;
    height: 500px;
    gap: 1em;
    margin-bottom: 4em;
}


.container-foto {
    display: flex;
    gap: 4em;
}

.container-foto2 {
    display: flex;
    gap: 4em;

}
.imagemlado {
    display: flex;
    }
    
 

    .imagemlados{
        display: flex;
        width: 600px;
        height: 600px;
    }
    

.img-circle {
    width: 19.375em;
    height: 19.375em;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: auto;
    margin-top: 4em;
}
.entlist {
    list-style-type: decimal;
    margin-bottom: 2.5em;
}

.oni{
    font-size: 1.25em;
}

.oni li {
    margin-top: 1em;
    margin-bottom: 1em;
}

.mantra {
    text-align: center;
    font-size: 1.2em;
}


.referencias {
    text-align: center;
}

.ref-title{
    font-size: 1.5em;
}

.text-ref a {
    color: rgba(59, 59, 238, 0.815);
    text-decoration: none;
    font-size: 1.5em;
}

.text-ref a:hover {
    text-decoration: underline;
    color: blue;
}

/* Usar esses codigos de paginas ate aqui */



/* codigos da galeria  */



.tattoo_card  {
    padding-left: 2em;
    padding-right: 2em;
 border: 3px solid white;
 border-radius: 0 0 px 5px;
}

/* --Usar essa tag para animar a galeria-- */
.animation img {
    transform: scale(1);
    transition: transform .1s ease-in;
   
}

.animation:hover img {
    transform: scale(1.10);
}
/* --Usar essa tag para animar a galeria-- */

.tattoo_card_content h3 {
 font-size: 2.2em;
 margin: 1em 0 1rem 0;
 text-align: center;
}

.tattoo_card_content a {
    color: white;
    text-decoration: none;
}

.tattoo_card_content a:hover {
    text-decoration: underline;
    color: blue;
}

